---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ing
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress_class }}
    nginx.org/mergeable-ingress-type: "minion"
    # nginx.ingress.kubernetes.io/ssl-redirect: "true"
    # nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  rules:
  - host: {{ .Values.ingress_public_url }}
    http:
      paths:
      - backend:
          serviceName:  {{ .Values.env_id }}-{{ .Values.app_name }}-extnme-svc
          servicePort: {{ .Values.app_container_port }}
        path: "/"

